@import url("../../global/global.css");
@import url("header.css");


main{
    display: flex;
    flex-direction: column;
    min-height: 92dvh;
    min-width: 100%;
    overflow: auto;
    color: rgb(136, 38, 38);
    background: linear-gradient(180deg, #e9e6e6 30%, #e6e4e4 100%); 
}




/* main::-webkit-scrollbar{
    display: none;
} */