

.criar-conta{
    width: 40%;
    max-width: 650px;
    height: 500px;
    background: linear-gradient(90deg, #2F3864 20%, #384069 80%);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
     color: #ffffff;
     position: fixed;
    margin: auto;
}


/* .criar-conta[open] - usando o dialog no html, vc pode usar essa propriedade para aplicar comandos apenas quando o modal estiver abertp*/
.criar-conta[open]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criar-conta::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

.partesuperior {
   width: 100%;
    display: flex;
    justify-content: space-between;
}


.esquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50px;
    border-radius: 1px 1px 10px 0;
    font-size: 0.7em;
    text-align: center;
    background: linear-gradient(90deg, #e2dfdf 10%, #e9e6e6 90%); 
    color: #00BF63;
}


.direita{
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center ;
    align-items: center;
}



.x {
    background: none;
    color: #ffffff;
    transition: transform 0.1s ease-in-out;
    font-size: 2em;
}



.parteinferior{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.area-criar{
    height: 90%;
    width: 90%;
}



#form{
    display: flex;
    flex-direction: column;
}