


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92dvh;
    min-width: 100%;
    overflow: auto;
    color: #ffffff;
    background: linear-gradient(180deg, #e9e6e6 30%, #e6e4e4 100%); 
}



.modal-criar-conta, .modal-logar-conta{
    height: 700px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    
}



.criar-conta{
    width: 60%;
    height: 500px;
    background: linear-gradient(90deg, #2F3864 20%, #384069 80%);
    border-radius: 10px;
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}


.partesuperior {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50px;
    border-radius: 1px 1px 10px 0;
    font-size: 0.7em;
    text-align: center;
    background: linear-gradient(90deg, #e2dfdf 10%, #e9e6e6 90%); 
    color: #00BF63;
}


.parteinferior{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.area-criar{
    /* background-color: aqua; */
    height: 90%;
    width: 90%;
}



#form{
    display: flex;
    flex-direction: column;
}