/* background: url(../../../../imgs/pages/foto\ bola\ teste.webp);
    background-size: cover; */

.esqueci-senha{
    width: 40%;
    max-width: 650px;
    height: 500px;
    background: linear-gradient(90deg, #2F3864 20%, #384069 80%);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    position: fixed;
    margin: auto;
}

/* .logar-conta[open] - usando o dialog no html, vc pode usar essa propriedade para aplicar comandos apenas quando o modal estiver abertp*/
.esqueci-senha[open]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esqueci-senha::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}



.partesuperior {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.esquerdaesqueci{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50px;
    border-radius: 1px 1px 10px 0;
    font-size: 0.6em;
    text-align: center;
    background: linear-gradient(90deg, #e2dfdf 10%, #e9e6e6 90%); 
    color: #00BF63;
    
}



.direita{
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center ;
    align-items: center;
}


.x {
    background: none;
    color: #ffffff;
    transition: transform 0.1s ease-in-out;
    font-size: 2em;
}


.x:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.parteinferior{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.area-logar-esqueci{
    height: 85%;
    width: 90%;
    
}



#formsesqueci{
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.formdivs{
    display: flex;
    flex-direction: column;
}


.formdivs label{
    font-size: 1.7em;
    margin-left: 4%;
}


.formdivs input{
    border-radius: 10px;
    width: 75%;
    padding: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
    opacity: 90%;
    box-sizing: border-box;
    font-size: 0.9em;
}


.formdivs input:hover{
    transform: scale(1.03);
}


.formdivs input:focus{
    transform: scale(1.03);
    outline: 1px solid #00BF63;
}



.botoes-esqueci{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



.botoes-esqueci input{
    width: 90%;
    height: 60px;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.7em;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background: linear-gradient(90deg, #00BF63 10%, #04a557 90%) ;
    transition: transform 0.2s ease-in-out;
}



.botoes-esqueci input:hover{
    transform: scale(1.03);
    cursor: pointer;
}
