@import url("fonts.css");

*{
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

