@import url("fonts.css");

*{
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: aliceblue;
}

