@import url("../../global/global.css");

header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: linear-gradient(90deg, #2F3864 20%, #384069 80%);
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    height: 100%;
    letter-spacing: 2px;
}


.logo h1 a{
    text-decoration: none;
    color: #ffffff;
}


.navbar{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right: 15%;
}

.navbar li{
   list-style-type: none;
    transition: transform ease 0.3s;
}


.navbar li a{
    text-decoration: none;
    color: #ffffff;
}


.navbar li:hover{
    transform: scale(1.1);
    text-decoration: underline white;
    cursor: pointer;
}



