@import url("header.css");
@import url("criar-conta/login.css");
@import url("criar-conta/criar-conta.css");
@import url("criar-conta/esqueci-senha.css");
@import url("../../global/global.css");


main {
    display: flex;
    flex-direction: column;
    height: 92dvh;
    min-width: 100%;
    overflow: auto;
    overflow-x: hidden;
    color: #ffffff;
    /* background: linear-gradient(180deg, #e9e6e6 30%, #e6e4e4 100%);  */
    background: linear-gradient(90deg, #2F3864 20%, #384069 80%);
    scroll-behavior: smooth;
}


main::-webkit-scrollbar {
    display: none;
}


/*   SECTION 1   */

.apresentação {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.64)), url("../../../imgs/pages/ladingpage/campoteste.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background: black; */
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid black;
}


.apresentação h1,
h4 {
    text-align: center;
}


.apresentação h1 {
    margin-bottom: 2%;
}


.apresentação button {
    background: linear-gradient(90deg, #2F3864, #384069);
    margin-top: 6%;
    padding: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    font-weight: bold;
    font-size: 1.3em;
    font-family: "Poppins", sans-serif;
    transition: transform 0.2s ease-in-out;
    color: #ffffff;
}

#simples {
    background: linear-gradient(90deg, #333b61, #384069);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#txtbotao,
#online {
    background: linear-gradient(90deg, #00BF63, #04a557);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.apresentação button:hover {
    transform: scale(1.06);
    background: linear-gradient(90deg, #2f365f, #363e66);
    cursor: pointer;
}


/*   SECTION 2   */

.problemas {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 125%;
}


.ladoesquerdo,
.ladodireito {
    width: 47%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}


.ladoesquerdo {
    gap: 20px;
    align-items: center;
}


.ladoesquerdo h1 {
    background: linear-gradient(90deg, #00BF63, #04a557);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ladoesquerdo p {
    text-align: justify;
    width: 70%;
    letter-spacing: 1px;
    text-indent: 30px;
}


.ladodireito {
    /* background-color: #0da15a; */
    align-items: center;
    gap: 30px;
}



.auxiliar {
    width: 100%;
    margin-top: 5%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.problemas-divs {
    background: linear-gradient(90deg, #00BF63, #04a557);
    box-shadow: 0 1px 10px rgba(0.1, 0.1, 0.1, 0.5);
    border-radius: 10px;
    width: 60%;
    height: 120px;
    transition: transform 0.1s ease-in-out;
    display: flex;
}



.problemas-divs:hover {
    transform: scale(1.03);

}




.problemas-esquerda,
.problemas-direita {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
}


.problemas-esquerda {
    padding: 30px;
    width: 60%
}



.problemas-direita {
    filter: invert();
    width: 40%
}



.problemas-direita img {
    height: 100px;
    width: 100px;
}




/*   SECTION 3   */


.solucoes {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.solucao-div{
    background: linear-gradient(90deg, #2F3864, #384069);
    box-shadow: 0 1px 10px rgba(0.1, 0.1, 0.1, 0.5);
    border-radius: 10px;
    width: 70%;
    height: 80%;
    display: flex;
}


.solucao-esquerda, .solucao-direita{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.solucao-esquerda h1{
    background: linear-gradient(90deg, #00BF63, #04a557);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.solucao-esquerda p{
    text-indent: 30px;
}



.solucao-cima, .solucao-baixo{
    display: flex;
    width: 100%;
}



.solucao-cima{
    height: 55%;
    align-items: center;
    justify-content: center;
    /* background-color: #8e491f; */
}



.solucao-baixo{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.esquerda-cima{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.esquerda-baixo{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
}


.esquerda-baixo p{
    width: 85%;
}


.print{
    width: 95%;
    height: 95%;
    box-shadow: 4px 4px 10px rgba(0.1, 0.1, 0.1, 0.5);
    background: url("../../../imgs/pages/ladingpage/solucao.png");
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}


.modalsolucao{
   width: 70%;
   height: 25%;
   background: linear-gradient(90deg, #00BF63, #04a557);
   border-radius: 10px;
   display: flex;
   align-items: center;
   transition: transform 0.2s ease-in-out;
}


.modalsolucao:hover{
    transform: scale(1.06);
    background: linear-gradient(90deg, #0ac96d, #04a557);
}


.modalsolucao h2:hover{
    cursor:default;
}


.imgcorreto{
    filter: invert();
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}